@use "../../wxcss/scss/mixins/_colors.scss" as *;
@use "sass:map";

button {
    text-decoration: none;
    border-radius: 3px;
    text-align: left;
    font-family: 'Roboto Condensed', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 0.75rem;
    line-height: 0.75rem;
    height: min-content;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.6rem 1rem;
    font-weight: 700;
    line-height: 0.8rem;
    background: transparent;
    border: 1px solid map.get($theme, 'borderColor');
    color: map.get($theme, 'accentColor');
    &:hover {
        background-color: map.get($theme, 'accentColorSecondary');
    }
}

.btn-secondary {
    @extend button;
    &.small{
        padding: 0.4rem 0.6rem;
    }
    border: none;
    &:hover {
        background-color: map.get($theme, 'accentColorSecondary');
    }
}

a[class^="btn-"], a[class*=" btn-"]{
    @extend button;
    @extend .btn-secondary;
    padding: 0.4rem 0.6rem;
    text-decoration: none;
}

.btn-primary {
    background-color: map.get($theme, 'accentColor');
    color: map.get($theme, 'textColorImportant');
    border: none;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.24);
    &:hover {
        // background-color: tint(map.get($theme, 'accentColor'), 15%);
        background-color: map.get($theme, 'accentColorActive');
    }
}

.btn-icon {
    @extend .btn-primary;
    vertical-align: baseline;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    line-height: 2rem;
    font-size: 1.1rem;
    text-align: center;
    padding: 0;
    span {
        line-height: 2rem;
    }
}

.evo-bDel{
    background-color: map.get($theme, "dataColorError");
    color: #fff;
    &:hover{
        background-color: darken(map.get($theme, 'dataColorError'), 10%);
    }
}