$light-theme: (
    textColorBase: rgba(#000, 0.6), 
    textColorContrast: #000, 
    textColorLowContrast: rgba(#000, 0.5), 
    textColorImportant: #fff,
    textColorDisabled: #c5c5c5, 
    backgroundColor: #f5f5f5, 
    backgroundColorModule: #fff, 
    backgroundColorDisabled: #f5f5f5, 
    borderColor: #dfdfdf, 
    accentColor: #3750ac, 
    accentColorActive: #1f327a, 
    accentColorSecondary: #d5dcee,
    errorColor: #cf2e2e,
    errorColorActive: #a71919,
    goodColor: #37ac8a,
    goodColorActive: #00a694,
    
    dataColorGeneral: #5c6093,
    dataColorMissing: #93bdef,
    dataColorOK: #009989,
    dataColorWarning: #ffb400,
    dataColorError: #ba2e3b,
    dataColorErrorLight: #db5c9b,

    dataColorMain1: #004caa,
    dataColorMain2: #2173d7,
    dataColorMain3: #5498ed,
    dataColorMain4: #93bdef,

    );

$dark-theme: (
    textColorBase: #727485, 
    textColorLowContrast: #727485,
    textColorContrast: #fafafa,
    textColorImportant: #fafafa,
    textColorDisabled: #aaa, 
    backgroundColor: #18191f, 
    backgroundColorModule: #202129, 
    backgroundColorDisabled: #ddd, 
    borderColor: #202129, 
    accentColor: #3750ac, 
    accentColorActive: #1f327a, 
    accentColorSecondary: #d5dcee,
    errorColor: #cf2e2e,
    errorColorActive: #a71919,
    goodColor: #37ac8a,
    goodColorActive: #007754,
    
    dataColorGeneral: #0078ff,
    dataColorMissing: #babde7,
    dataColorOK: #009b8a,
    dataColorWarning: #ffb400,
    dataColorError: #ce2838,
    dataColorErrorLight: #ba2e3b,

    dataColorMain1: #004caa,
    dataColorMain2: #2173d7,
    dataColorMain3: #5498ed,
    dataColorMain4: #93bdef,
);

$theme: $light-theme;

// color mixes from Bourbon.io

/// Mixes a color with white.
///
/// @argument {color} $color
///
/// @argument {number (percentage)} $percent
///   The amount of white to be mixed in.
///
/// @return {color}
///
/// @example scss
///   .element {
///     background-color: tint(#6ecaa6, 40%);
///   }
///
///   // CSS Output
///   .element {
///     background-color: #a8dfc9;
///   }
@function tint(
  $color,
  $percent
) {
  @if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " +
      "the `tint` mixin.";
  } @else {
    @return mix(#fff, $color, $percent);
  }
}


/// Mixes a color with black.
///
/// @argument {color} $color
///
/// @argument {number (percentage)} $percent
///   The amount of black to be mixed in.
///
/// @return {color}
///
/// @example scss
///   .element {
///     background-color: shade(#ffbb52, 60%);
///   }
///
///   // CSS Output
///   .element {
///     background-color: #664a20;
///   }

@function shade(
  $color,
  $percent
) {
  @if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " +
      "the `shade` mixin.";
  } @else {
    @return mix(#000, $color, $percent);
  }
}
